[Desktop Entry]
Version=0.01
Type=Application
Name=gTox
Comment=a GTK-based tox-client
TryExec=gTox
Exec=gTox
Icon=gTox
Categories=InstantMessaging;;AudioVideo;Network;
Terminal=false
