/**
    Profile selection
**/

.gtox-profile, .gtox-contact, .gtox-notification {
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

.gtox-profile, .gtox-contact-frame, .gtox-notification {
    padding: 5px;
	padding-left: 9px;
    padding-right: 5px;

}

.gtox-profile-avatar, .gtox-contact-avatar, .gtox-notification-image {
    padding: 5px
}

.gtox-profile-name, .gtox-contact-name, .gtox-notification-title {
    font-size: 120%;
    padding: 0 5px;
}

.gtox-profile-status, .gtox-contact-status, .gtox-notification-status {
    font-size: 80%;
    padding: 0 5px;
}

.gtox-profile-path, .gtox-contact-path {
    font-size: 80%;
    padding: 0 5px;
    color: gray;
}

.gtox-contact-status-icon, .gtox-notification-icon {
	padding-left: 6px;
	padding-right: 6px;
}

.gtox-profile:selected {
    background-color: rgba(255,255,255,0.2);
}

.gtox-contact-active {
    background-color: rgba(40,150,40,0.2);
}

.gtox-contact:selected {
    background-color: transparent;
}

.gtox-contact:prelight {
    background-color: rgba(255,255,255,0.2);
}

.gtox-notification:selected {
    background-color: rgba(255,255,255,0.2);
}

.gtox-notification-area {
    background-color: rgba(150,40,40,0.2);
}

.gtox-notification:selected {
    background-color: transparent;
}

.gtox-notification:prelight {
    background-color: rgba(255,255,255,0.2);
}

/**
    Popovers
**/
GtkPopover {
    padding: 0.5em;
}

GtkListBoxRow {
	padding: 0px;
}

/**
    Item lists, like in Status selection in Popover
**/

.gtox-item-list {
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.gtox-item-list:selected {
    background: rgba(0,0,0,0.2);
}

/**
    Headerbar tweaks, correctly render radius
**/

.gtox-headerbar-right {
    border-top-left-radius: 0;
}

.gtox-headerbar-left {
    border-top-right-radius: 0;
}

/**
    Chat bubbles
**/

.gtox-chat {
    
}

.gtox-bubble {
    border-radius: 7px;
    background-color: rgba(0,0,0,0.2);
}

.gtox-bubble.gtox-left {
    border-top-left-radius: 0;
}

.gtox-bubble.gtox-right {
    border-bottom-right-radius: 0;
}


.message_receipt {
	opacity: 1;
}

.message_pending {
    background: rgba(0,0,0,0.3);
	opacity: 0.3;
}

.message_failed {
	opacity: 0.3;
	background: rgba(255,0,0,0.3);
}

.bubble_chat_line {
	background: transparent;
	padding: 4px;
	border: none;
}


.bubble_chat_line.top_left {
	border-radius: 5px 0 0 0;
}

.bubble_chat_line.top_right {
	border-radius: 0 5px 0 0;
}

.bubble_chat_line.bottom_left {
	border-radius: 0 0 0 5px;
}

.bubble_chat_line.bottom_right {
	border-radius: 0 0 5px 0;
}

.bubble_chat_line_time {
    background: rgba(255,255,255,0.2);
    color: black;
    border-radius: 3px;
    padding: 2px;
}
