/**
    Profile selection
**/

.gtox-profile, .gtox-contact {
    padding: 5px;
    background-image:
		-gtk-gradient (
			linear,
			left top, right bottom,
			color-stop(0, transparent),
			color-stop(0.01, transparent),
			color-stop(0.03, transparent),
			color-stop(0.47, transparent),
			color-stop(0.49, transparent),
			color-stop(0.51, transparent),
			color-stop(0.53, transparent),
			color-stop(0.97, transparent),
			color-stop(0.99, transparent),
			color-stop(1, transparent));		
	background-repeat: repeat;
	background-size: 10px 10px;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	padding-left: 9px;
    padding-right: 5px;
}

.gtox-profile-avatar, .gtox-contact-avatar {
    padding: 5px
}

.gtox-profile-name, .gtox-contact-name {
    font-size: 120%;
    padding: 0 5px;
}

.gtox-profile-status, .gtox-contact-status {
    font-size: 80%;
    padding: 0 5px;
}

.gtox-profile-path, .gtox-contact-path {
    font-size: 80%;
    padding: 0 5px;
    color: gray;
}

.gtox-contact-status-icon {
	padding-left: 6px;
}

.gtox-profile:insensitive, .gtox-contact:insensitive {
    background-image:
		-gtk-gradient (
			linear,
			left top, right bottom,
			color-stop(0, black),
			color-stop(0.01, black),
			color-stop(0.03, transparent),
			color-stop(0.47, transparent),
			color-stop(0.49, black),
			color-stop(0.51, black),
			color-stop(0.53, transparent),
			color-stop(0.97, transparent),
			color-stop(0.99, black),
			color-stop(1, black));
	background-repeat: repeat;
	background-size: 10px 10px;
}

.gtox-profile:selected, .gtox-contact:selected {
    background-color: rgba(255,255,255,0.05);
}

.gtox-contact-chat-active {
    background-color: rgba(40,150,40,0.2);
}

.gtox-contact-chat-active:selected {
    background-color: rgba(40,150,40,0.3);
}

/**
    Popovers
**/
GtkPopover {
    padding: 0.5em;
}

/**
    Item lists, like in Status selection in Popover
**/

.gtox-item-list {
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.gtox-item-list:selected {
    background: rgba(0,0,0,0.2);
}

/**
    Headerbar tweaks, correctly render radius
**/

.gtox-headerbar-right {
    border-top-left-radius: 0;
}

.gtox-headerbar-left {
    border-top-right-radius: 0;
}

/**
    Chat bubbles
**/

.gtox-chat {
    
}

.gtox-bubble {
    border-radius: 7px;
    background-color: rgba(0,0,0,0.2);
}

.gtox-bubble.gtox-left {
    border-top-left-radius: 0;
}

.gtox-bubble.gtox-right {
    border-bottom-right-radius: 0;
}


.message_receipt {
	opacity: 1;
}

.message_pending {
    background: rgba(0,0,0,0.3);
	opacity: 0.3;
}

.message_failed {
	opacity: 0.3;
	background: rgba(255,0,0,0.3);
}

.bubble_chat_line {
	background: transparent;
	padding: 4px;
	border: none;
}


.bubble_chat_line.top_left {
	border-radius: 5px 0 0 0;
}

.bubble_chat_line.top_right {
	border-radius: 0 5px 0 0;
}

.bubble_chat_line.bottom_left {
	border-radius: 0 0 0 5px;
}

.bubble_chat_line.bottom_right {
	border-radius: 0 0 5px 0;
}

.bubble_chat_line_time {
    background: rgba(255,255,255,0.2);
    color: black;
    border-radius: 3px;
    padding: 2px;
}
