* > GtkWindow {
    border-radius: 15px 15px 0 0;
}

*:insensitive {
	background-image:
		-gtk-gradient (
			linear,
			left top, right bottom,
			color-stop(0, black),
			color-stop(0.01, black),
			color-stop(0.03, transparent),
			color-stop(0.47, transparent),
			color-stop(0.49, black),
			color-stop(0.51, black),
			color-stop(0.53, transparent),
			color-stop(0.97, transparent),
			color-stop(0.99, black),
			color-stop(1, black));
	background-repeat: repeat;
	background-size: 10px 10px;
}

*:insensitive > * {
	background-image: initial;
}

GtkFrame {
    background-color: @theme_base_color;
    border: none;
}

GtkPopover {
    padding: 0.5em;
}

#HeaderBarRight {
    border-top-left-radius: 0;
}

#HeaderBarLeft {
    border-top-right-radius: 0;
}

#WidgetNotification {
    background-color: @bg_color;
    color: @fg_color;
    border-radius: 10px 10px 0 0;
    border:none;
    padding: 5px;
}

/*#HeaderBarRight {
    background-color: transparent;
}

#HeaderBarLeft {
    background-color: transparent;
}*/

#WidgetContactListItem {
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

#WidgetContactListItem:selected, #PopoverStatusListItem:selected {
    background: rgba(0,0,0,0.2);
}

#Debug {
    border: 2px solid #FF0000;
}

#WidgetChatLineRight {
    padding: 0.25em;
    background-color: rgba(0,0,0,0.2);
    border-radius: 7px 7px 0px 7px;
}

#WidgetChatLineLeft {
    padding: 0.25em;
    background-color: rgba(0,0,0,0.2);
    border-radius: 0 7px 7px 7px;
}

#WidgetContactListItem {
	padding: 5px;
}

#WidgetContactListItem #Avatar {
    padding: 4px
}

#WidgetContactListItem #Name {
    font-size: 120%;
    padding: 5px;
}

#WidgetContactListItem #Status {
    font-size: 80%;
    padding: 5px;
}

#BigText {
    font-size: 120%;
}

#SmallText {
    font-size: 80%;
}

#WidgetContactListItem #StatusIcon {
    padding-left: 9px;
    padding-right: 5px;
}

#PopoverStatusListItem {
    border-radius: 5px;
}

#ChatTime {
    background: rgba(255,255,255,0.2);
    color: black;
    border-radius: 3px;
    padding: 2px;
}

#WidgetChatLineRight .chatmsg {
    padding: 2px;
}

#WidgetChatLineLeft .chatmsg {
    padding: 2px;
}

GtkListBox.settings GtkListBoxRow {
    padding: 10px;
}
