/*TODO: use border-radius of original window*/

#WidgetNotification {
    padding: 1em; /* NOT WORKING WHY ?`LOOKS LIKE BUTTONS IGNORE PADDING..*/
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px 10px 0 0;
}

#HeaderBarRight {
    border-radius: 0 10px 0 0;
}

#HeaderBarLeft {
    border-radius: 10px 0 0 0;
}

#WidgetContactListItem {
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

#WidgetContactListItem:selected {
    background: rgba(0,0,0,0.2);
}

#Debug {
    border: 2px solid #FF0000;
}

#WidgetChatLineRight {
    padding: 1em;
    background-color: rgba(0,0,0,0.3);
    border-radius: 2px 0 0 15px;
}

#WidgetChatLineLeft {
    padding: 1em;
    background-color: rgba(0,0,0,0.3);
    border-radius: 0 2px 15px 0;
}
