* > GtkWindow {
    border-radius: 15px 15px 0 0;
}

GtkFrame {
    background-color: @theme_base_color;
}

GtkPopover {
    padding: 0.5em;
}

GtkHeaderBar GtkButton {
   background: transparent;
   border: none;
}

GtkHeaderBar GtkButton:hover {
    background: rgba(0,0,0,0.3);
}

#WidgetNotification {
    padding: 1em; /* NOT WORKING WHY ?`LOOKS LIKE BUTTONS IGNORE PADDING..*/
    background-color: @info_bg_color;
    color: @info_fg_color;
    border-radius: 10px 10px 0 0;
}

/*#HeaderBarRight {
    background-color: transparent;
}

#HeaderBarLeft {
    background-color: transparent;
}*/

#WidgetContactListItem {
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

#WidgetContactListItem:selected, #PopoverStatusListItem:selected {
    background: rgba(0,0,0,0.2);
}

#Debug {
    border: 2px solid #FF0000;
}

#WidgetChatLineRight {
    padding: 1em;
    background-color: rgba(0,0,0,0.2);
    border-radius: 2px 0 0 15px;
}

#WidgetChatLineLeft {
    padding: 1em;
    background-color: rgba(0,0,0,0.2);
    border-radius: 0 2px 15px 0;
}

#WidgetContactListItem {
	padding: 5px;
}

#WidgetContactListItem #Avatar {
    padding: 4px
}

#WidgetContactListItem #Name {
    font-size: 120%;
    padding: 5px;
}

#WidgetContactListItem #Status {
    font-size: 80%;
    padding: 5px;
}

#WidgetContactListItem #StatusIcon {
    padding-left: 5px;
    padding-right: 5px;
}

#PopoverStatusListItem {
    border-radius: 5px;
}




